* {
  margin: 0;
}
body {
  background-color: black;
}
header {
  background-color: gray;
  height: 100px;
}

header .container > div {
  height: 100%;
  display: flex;
  align-items: center;
}

#logo {
  height: 70px;
  width: auto;
}

header .nav-link {
  position: relative;
  transition: 0.3s;
  bottom: -5px;
}

header .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: darkred;
  transition: 0.3s;
}

header .nav-link:hover::after {
  width: 100%;
}