# Python
__pycache__/
*.py[cod]
venv/


*.json
.env

# IDEs
.vscode/
.idea/

firebase-credentials.json

.firebase/
/backend/.firebase
backend/firebase-debug.log
backend/.firebase/hosting.c3RhdGlj.cache
.claude
