<header class="py-3">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="d-flex align-items-center text-decoration-none">
        <img src="/static/assets/logo.png" class="me-2" id="logo" alt="Dog Mau logo" style="border-radius: 50%; width: 50px; height: 50px;" />
      </a>

      <ul class="nav mx-auto mb-0">
        <li><a href="/" class="nav-link px-4 fs-4 {% if page == 'home' %}active{% endif %}">Home</a></li>
        <li><a href="#" class="nav-link px-4 fs-4 {% if page == 'produtos' %}active{% endif %}">Produtos</a></li>
        <li><a href="/servicos" class="nav-link px-4 fs-4 {% if page == 'servicos' %}active{% endif %}">Serviços</a></li>
        <li><a href="#" class="nav-link px-4 fs-4 {% if page == 'sobre' %}active{% endif %}">Sobre</a></li>
      </ul>

      <div class="d-flex align-items-center gap-3">
        <form class="search-box d-flex align-items-center">
            <input type="search" class="form-control search-input" placeholder="Buscar..." />
            <button class="btn btn-danger ms-2" type="button">
                <i class="bi bi-search"></i>
            </button>
        </form>
        <div class="dropdown">
          {% if user %}
          <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle fs-4 me-2"></i>
            <span class="fw-semibold">Olá, {{ user.nome.split(' ')[0] }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Veículo</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="/logout">Sair</a></li>
          </ul>
          {% else %}
          <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle fs-4 me-2"></i>
            <span class="fw-semibold">Login</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/login">Entrar</a></li>
            <li><a class="dropdown-item" href="/cadastro">Cadastrar</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
